.listPosition {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  z-index: 50;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 0.3rem;
}

.list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767.5px) {
  .list {
    flex-direction: row;
  }
}

.list li a:hover,
.list li a:focus {
  transform: translateY(-3px);
}

.list li a svg {
  width: 18px;
  height: 18px;
  fill: none;
  vertical-align: middle;
}

.list li a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 6px;
  transform: translateY(0px);
  color: hsl(var(--foreground) / 55%);
}

.list li a:hover,
.list li a:focus {
  color: hsl(var(--foreground-left-style-hover));
}
