.link {
  display: inline-block;
  position: relative;
  color: hsl(var(--foreground-secondary));
  text-decoration: none;
  text-decoration-skip-ink: auto;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link:hover,
.link:focus-visible {
  color: hsl(var(--foreground-secondary));
  outline: 0;
}

.link:hover > *,
.link:focus-visible > * {
  color: hsl(var(--foreground-secondary));
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: relative;
  bottom: 0.25em;
  background-color: hsl(var(--foreground-secondary));
  opacity: 0.5;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link:hover::after,
.link:focus-visible::after {
  width: 100%;
}
