ul.skills_wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(140px, 200px));
  grid-gap: 0 10px;
  margin: 20px 0 0 0;
  overflow: hidden;
  text-align: center;
}

.skills_wrapper li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.skills_wrapper img {
  width: 15px;
  height: 15px;
}

.skills_wrapper span {
  color: hsl(var(--foreground) / 80%);
  font-weight: 400;
  font-size: 13px;
  margin-left: 8px;
}

@media (max-width: 600px) {
  .skills_wrapper span {
    font-size: 11px;
  }
}
