.alignment {
  position: fixed;
  z-index: 10;
  left: 40px;
  right: auto;
  top: 40px;
  bottom: 40px;
}

@media (max-width: 1080px) {
  .alignment {
    left: 20px;
    right: auto;
    top: 20px;
    bottom: 20px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
